<div class="container">
  <h1>Angular HttpClient</h1>

  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название" [(ngModel)]="todoTitle">
    </div>
    <button class="btn" (click)="addTodo()">Добавить</button>
    <button class="btn" (click)="addFetch()">Загрузить</button>
  </div>

  <hr>

  <div *ngIf="!loading; else loadingblock">
    <div *ngIf="todos.length; else empty">
      <div class="card" *ngFor="let todo of todos">
        <p>
          <span [class.completed]="todo.completed">{{todo.title | titlecase}}</span>
          <span>
            <button class="btn btn-danger" (click)="removeTodo(todo.id)">Удалить</button>
            <button class="btn" [disabled]="todo.completed" (click)="completedTodo(todo.id)">Завершить</button>
          </span>
        </p>
      </div>
    </div>
    <ng-template #empty>
      <p>Пусто...</p>
    </ng-template>
  </div>
  <ng-template #loadingblock>
    <p>Загрузка...</p>
  </ng-template>
</div>



